.sidebar {
    background-color: #f0f0f0;
    color: black;
    width: 200px;
    min-height: 100%;
    transition: width 0.3s ease;
    overflow: hidden;
}

.logo-container {
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.logo-container img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

#icon {
    display: none;
}

.sidebar-closed {
    width: 60px;
    background-color: #f0f0f0;
    min-height: 100%;
    transition: width 0.3s ease;

    #icon {
        display: block;
        width: 50px;
    }

    #logo {
        display: none;
    }

    nav .texto {
        display: none;
    }
}

@media (max-width: 768px) {
    .sidebar {
        position: relative;
        display: none;
    }
}