.register-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: #89909f;
}

.register-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: rgba(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 800px;
    max-height: 100dvh;
}

@media (max-width: 768px) {
    .register-page {
        min-height: 100dvh;
        overflow: hidden;
    }

    .register-container {
        max-width: 100%;
        padding: 1rem;
    }
}